<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/profile.css">

  </head>
  <body>
    <main>
<header>
 <div class="tools">
    <a href="/logout">
        Logout
        <i class='bx bx-log-out-circle'></i>
    </a>
 </div>
</header>
<div class="profile">
  <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg" alt="">
  <div class="content">
    <p class="status">Online</p>
    <p class="name"><%= user.name %></p>
    <p class="username"><%= user.username %></p>
    <p class="about"><%= user.about%></p>
<div class="buttons">
    <a >Share Profile  <i class='bx bx-share-alt'></i></a>


</div>
</div>
</div>
<div class="posts">
    <% user.posts.reverse().forEach(function(post){ %>
        <div class="post">
            <p class="post_name"><%= user.name%></p>
            <div class="postdiv">
              <p><%= post.content%></p>
            </div>
            <div class="footer">
             <div class="wrap">
              <a href="/like/<%= post._id%>">
                <i class='bx bx-heart' style='color:#ffffff' ></i>
              </a>
              <p class="like"><%= post.likes.length %> likes</p>
             </div>
        
            </div>
          </div>
       <%})%>
 
</div> 


  </body>
</html>
 